@use "sass:math";
// Основные цвета
:root {
	--background: #021b2a;
	--interface: #042a39;
	--text: #fff;
	--orange: #ff6701;
	--green: #0db25a;
}

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
@import url("https://fonts.googleapis.com/css?family=Baloo+2:regular,500,600,700,800&display=swap");
$fontFamily: "Baloo", Arial, sans-serif;

$fontSize: 18px;
$mainColor: var(--text);

// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320px;
// Ширина полотна (макета)
$maxWidth: 1920px;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1350px;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 64px;

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// Ширина страбатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
// ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 1279.98px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 767.98px; // Телефоны L
$mobileSmall: 429.98px;
// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================

body {
	background-color: var(--background);
}
// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;

	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
}
.page {
	position: relative;
	z-index: 1;
}
// Ограничивающий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.

*/
@if ($responsiveType==1) {
	// Отзывчивая
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: $maxWidthContainer;
			box-sizing: content-box;
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			padding: 0 math.div($containerPadding, 2);
		}

		@media (max-width: $mobile) {
			padding: 0 8px;
		}
	}
}
@function rem($px) {
	$result: math.div($px, 16) + rem;
	@return $result;
}
