@use "sass:math";
// Основные цвета
:root {
	/* main colors */
	--black: #1b1f21;
	--gray80: #434343;
	--gray70: #757778;
	--gray35: #aeaeae;
	--gray20: #d9d9d8;
	--gray15: #e8e8e8;
	--gray5: #f2f2f2;
	--gray5TR20: #f2f2f233;
	--white: #fcfaf9;
	--whiteTR90: #fcfaf9e6;
	--pale: #e8e8e8;
	/* Tag colors */
	--pink: #ec95b1;
	--sky: #a4ccfe;
	--violet: #d0b0fa;
	--grass: #bedb39;
	--tangerine: #acd6de;
	--pale: #ffad20;
	--coral: #fe8968;
	--mint: #aedfd6;
	--marine: #90eecb;
	/* TExt colors */
	--pink-dark: #da3369;
	--sky-dark: #5fa5fd;
	--violet-dark: #9853f4;
	--grass-dark: #94ac23;
	--turquoise-dark: #57acbc;
	--tangerine-dark: #ef9700;
	--coral-dark: #fe6d44;
	--mint-dark: #57bcaa;
	--marine-dark: #22c98b;
}

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Nunito", Arial, sans-serif;
$titleFontFamily: "ArchivoBlack", Arial, sans-serif;

$fontSize: 18px;
$mainColor: var(--black);

// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320px;
// Ширина полотна (макета)
$maxWidth: 1920px;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1208px;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 64px;

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// Ширина страбатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
// ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 1279.98px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 767.98px; // Телефоны L
$mobileSmall: 429.98px;
// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================

body {
}
// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	background-color: var(--white);
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;

	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
}
.page {
	position: relative;
	z-index: 1;
}
// Ограничивающий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.

*/
@if ($responsiveType==1) {
	// Отзывчивая
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: $maxWidthContainer;
			box-sizing: content-box;
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			padding: 0 math.div($containerPadding, 2);
		}

		@media (max-width: $mobile) {
			padding: 0 8px;
		}
	}
}
@function rem($px) {
	$result: math.div($px, 16) + rem;
	@return $result;
}
