@use "../../../assets/scss/_main.scss" as *;
.input {
	width: 100%;
	background-color: inherit;
	padding: 8px 24px;
	border: 2px solid var(--white);
	border-radius: 88px;
	font-size: 18px;
	line-height: 1.6;
	color: var(--white);
	font-weight: 500;
	&::placeholder {
		transition: color 0.3s ease 0s;
		font-weight: 500;
		color: var(--gray15);
	}

	@media (any-hover: hover) {
		&:hover {
			&::placeholder {
				color: var(--white);
			}
		}
	}
	&:focus-visible {
		outline: none;
		border: 2px solid var(--black);
	}
	&:disabled {
		opacity: 0.6;
		pointer-events: none;
	}
	// &__text-error {
	// 	margin-top: 8px;
	// 	font-size: 13px;
	// 	line-height: 1.2;
	// 	text-align: center;
	// }
}

._success,
._error-inpt-text {
	position: relative;
	// margin-bottom: 44px;
}

._success::before,
._error-inpt-text::before {
	content: "";
	width: 27px;
	height: 27px;
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	right: 17px;
	visibility: hidden;
	transition: all 0.3s ease 0s;
	opacity: 0;
}
._success::before {
	opacity: 1;
	visibility: visible;
	background: url("../img/icons/correctIcon.svg") 0 0 no-repeat;
}
._error-inpt-text::before {
	opacity: 1;
	visibility: visible;
	background: url("../img/icons/errorIcon.svg") 0 0 no-repeat;
}
.text-error {
	margin-top: 8px;
	font-size: 13px;
	line-height: 1.2;
	text-align: center;
	@media (max-width: $mobile) {
		& br {
			display: none;
		}
	}
}

._success input,
._success input:focus-visible {
	border: 2px solid var(--grass);
}
._error-inpt-text input,
._error-inpt-text input:focus-visible {
	border: 2px solid var(--pale);
}

.checkbox {
	position: relative;
	cursor: pointer;
	display: flex;
	align-items: flex-start;
	column-gap: 16px;
	@media (max-width: $tablet) {
		align-items: center;
	}
	&._error-checkbox label::before {
		border: 2px solid var(--pale);
	}
	&._error-checkbox .subscribe-form__сonfirmation-text {
		color: var(--pale);
	}
	// .checkbox__input
	& input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		&:focus-visible + .checkbox__label:before {
			border: 2px solid var(--black);
		}
		&:checked + .checkbox__label:before {
			background-color: var(--white);
		}
		&:checked + .checkbox__label::after {
			background: url("../img/icons/assetsIcon.svg") 50% 50% no-repeat;
		}
		&:disabled + .checkbox__label:before {
			opacity: 0.6;
			pointer-events: none;
		}
		&:disabled + .checkbox__label {
			cursor: default;
		}
	}
	// .checkbox__label
	&__label {
		cursor: pointer;
		display: inline-flex;
		align-items: center;
		position: relative;
		gap: 16px;
		font-size: 15px;
		line-height: 1.4;
		@media (max-width: $tablet) {
			font-size: 13px;
		}
		@media (any-hover: hover) {
			&:hover::before {
				background-color: var(--gray5TR20);
			}
		}

		&::before {
			content: "";
			transition: all 0.3s ease 0s;
			align-self: flex-start;
			flex: 0 0 24px;
			border-radius: 4px;
			width: 24px;
			height: 24px;
			border: 2px solid var(--white);
		}
		&::after {
			content: "";
			position: absolute;
			width: 14px;
			height: 14px;
			top: 5px;
			left: 5px;
		}
	}

	&__сonfirmation-link {
		position: relative;
		&::after {
			content: "";
			width: 100%;
			height: 1px;
			background-color: var(--white);
			position: absolute;
			bottom: 3px;
			left: 0;
		}
	}
}
