@use "../main" as *;
.section-banner {
	padding-top: 80px;
	padding-bottom: 74px;

	@media (max-width: $tablet) {
		padding-top: 48px;
		padding-bottom: 38px;
	}
	@media (max-width: $mobile) {
		padding: 24px 0;
	}
	// .section-banner__container

	&__container {
		display: flex;
		align-items: center;
		column-gap: 40px;

		@media (max-width: $tablet) {
			flex-direction: column;
			row-gap: 24px;
		}
		@media (max-width: $tablet) {
			row-gap: 18px;
		}
	}

	// .section-banner__img

	&__img {
		flex: 0 1 480px;
		@media (max-width: $tablet) {
			flex: none;
		}
		@media (max-width: $mobile) {
		}
		img {
			height: 560px;

			mask-image: url("../img/masks/section-banner-mask/mask-one-deskrop.svg");
			object-position: bottom;
			mask-position: bottom;
			@media (max-width: $tablet) {
				mask-image: url("../img/masks/section-banner-mask/mask-one-tablet.svg");
				height: 320px;
			}
			@media (max-width: $mobile) {
				mask-image: url("../img/masks/section-banner-mask/mask-one-mobile.svg");
				height: 352px;
				width: 304px;
			}
		}
		&::before {
			top: 0;
			right: 0;
			background-image: url("../img/sticker/gaming.svg");
			@media (max-width: $tablet) {
				top: 7px;
				right: 5px;
			}
			@media (max-width: $mobile) {
				top: 8px;
				right: 8px;
			}
		}
	}

	// .section-banner__block

	&__block {
		flex: 0 1 688px;
		@media (max-width: $tablet) {
			flex: none;
		}
	}
}

.content-block {
	@media (max-width: $tablet) {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	// .content-block__header

	&__header {
		margin-bottom: 16px;
		@media (max-width: $tablet) {
			margin-bottom: 8px;
			display: flex;
			column-gap: 24px;
		}
		@media (max-width: $mobile) {
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin-bottom: 16px;
		}
	}
	// .content-block__title

	&__title {
		@media (max-width: $tablet) {
			flex: 0 1 461px;
			max-width: 480px;
			padding-top: 4px;
		}
		@media (max-width: $mobile) {
			padding-top: 0px;
			flex: none;
			max-width: 100%;
		}
	}
	// .content-block__list

	&__list {
	}
	// .content-block__nav

	&__nav {
		margin-bottom: 18px;

		@media (max-width: $tablet) {
			flex: 0 0 219px;
			justify-content: flex-end;
			ul {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				grid-template-rows: 1fr;
				justify-items: flex-end;
				row-gap: 12px;
			}
			._active {
				grid-column: 1/4;
				margin-right: 0;
			}
		}
		@media (max-width: $mobile) {
			justify-content: stretch;
			flex: none;
			width: 100%;
			ul {
				display: flex;
			}
			._active {
				margin-right: 16px;
			}
		}
	}

	// .content-block__body

	&__body {
		margin-bottom: 56px;
		@media (max-width: $tablet) {
			display: flex;
			flex-direction: row-reverse;
			column-gap: 24px;
			margin-bottom: 48px;
		}
		@media (max-width: $mobile) {
			flex-direction: column;
			margin-bottom: 56px;
			width: 100%;
		}
	}

	// .content-block__description

	&__description {
		margin-bottom: 16px;
		@media (max-width: $tablet) {
			flex: 1 1 461px;
			margin-bottom: 0;
		}
		@media (max-width: $mobile) {
			max-width: 100%;
			flex: none;
			margin-bottom: 16px;
		}
	}

	// .content-block__footer

	&__footer {
		@media (max-width: $tablet) {
			display: flex;
			flex-direction: column;
			row-gap: 8px;
			align-items: flex-end;
			flex: 0 0 200px;
		}
		@media (max-width: $mobile) {
			flex-direction: row;
			flex: none;
		}
	}
	// .content-block__btn

	&__btn {
		@media (max-width: $tablet) {
			transform: translateX(11px);
		}
		@media (max-width: $mobile) {
			transform: translateX(0px);

			width: 100%;
			span {
				width: 100%;
			}
		}
	}
}
