@use "../../assets/scss/_main.scss" as *;

.running-string {
	position: relative;
	z-index: 11;
	width: 110vw;
	// .running-string__wrapper

	&__wrapper {
		display: flex;
		padding-top: 27px;
		padding-bottom: 23px;
		width: 110vw;
		@media (max-width: $tablet) {
			padding: 20px 0;
		}
	}

	// .running-string__item

	&__item {
		font-family: sans-serif;
		font-size: 58px;

		white-space: nowrap;
		flex-shrink: 0;

		display: flex;
		align-items: center;
		line-height: 1.2;
		font-family: $titleFontFamily;
		padding-right: 48px;

		&::before {
			content: "";
			background: url("../img/icons/starRunningStringIocn.svg") 0 0 no-repeat;
			width: 41px;
			height: 41px;
			padding-right: 98px;
		}
		.start-animation & {
			animation: running-string 5s linear infinite;
		}
		@media (max-width: $tablet) {
			font-size: 30px;
		}
	}
}
@keyframes running-string {
	0% {
		transform: translate3d(0%, 0, 0);
	}
	to {
		transform: translate3d(-100%, 0, 0);
	}
}

.article {
	height: 224px;
	& .running-string__wrapper {
		transform: rotate(-3.9deg) translate(-20px, 47px);
	}
	@media (max-width: $tablet) {
		height: 122px;
		& .running-string__wrapper {
			transform: rotate(-2.9deg) translate(-20px, 16px);
		}
	}
}
.webinars {
	height: 197px;

	& .running-string__wrapper {
		transform: rotate(-2.9deg) translate(-20px, 35px);
	}
	@media (max-width: $tablet) {
		height: 129px;
		& .running-string__wrapper {
			transform: rotate(-2.9deg) translate(-20px, 55px);
		}
	}
}
.subscribe {
	height: 197px;
	position: relative;

	&::after {
		content: "";
		position: absolute;
		z-index: -1;
		width: 100%;
		height: 58%;
		bottom: 0;
		left: 0;
		background-color: var(--gray5);
	}
	& .running-string__wrapper {
		transform: rotate(2.1deg) translate(-20px, 31px);
	}
	@media (max-width: $tablet) {
		height: 120px;
		&::after {
			height: 41%;
		}
		& .running-string__wrapper {
			transform: rotate(3.1deg) translate(-20px, 41px);
		}
	}
}
.discount {
	height: 120px;
	@media (max-width: $tablet) {
		height: 80px;
	}
	& .running-string__wrapper {
	}
	& .running-string__item {
		color: var(--gray5);
		&::before {
			background-image: url(../../assets/img/icons/whiteStarRunningStringIocn.svg);
		}
	}
}
