@use "../../assets/scss/_main.scss" as *;

.running-string {
	position: relative;
	width: 110vw;
	// .running-string__wrapper

	&__wrapper {
		display: flex;
		padding-top: 27px;
		padding-bottom: 23px;

		width: 110vw;
	}

	// .running-string__item

	&__item {
		font-family: sans-serif;
		font-size: 58px;

		white-space: nowrap;
		flex-shrink: 0;
		animation: running-string 1s linear infinite;
		display: flex;
		align-items: center;
		line-height: 1.2;
		font-family: $titleFontFamily;
		padding-right: 48px;

		&::before {
			content: "";
			background: url("../img/icons/starRunningStringIocn.svg") 0 0 no-repeat;
			width: 41px;
			height: 41px;
			padding-right: 98px;
		}
		.start-animation & {
			animation: running-string 1s linear infinite;
		}
	}
}
@keyframes running-string {
	0% {
		transform: translate3d(0%, 0, 0);
	}
	to {
		transform: translate3d(-100%, 0, 0);
	}
}

.article {
	height: 224px;
	& > div {
		transform: rotate(-3.9deg) translate(-20px, 49px);
	}
}
