.header {
	text-align: center;
	padding-top: 30px;

	& h1 {
		font-size: 34px;
		font-weight: 700;
		margin-bottom: 40px;
	}
	// .header__nav
	&__nav {
		margin-bottom: 40px;
	}
}
.nav {
	display: flex;
	justify-content: space-between;
	background-color: var(--interface);
	padding: 20px;
	border-radius: 8px;
	// .nav__link

	&__link {
		flex: 0 1 calc(25% - 20px);
		font-size: 20px;
		font-weight: 700;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		column-gap: 14px;
		column-gap: 20px;
		padding: 13px 0;
		transition: all 0.4s ease 0s;
		&._active {
			background-color: var(--background);
			border-radius: 8px;
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: var(--background);
				border-radius: 8px;
			}
		}
	}
	// .nav__icon
	&__icon {
		width: 40px;
		& path {
			transition: all 0.4s ease 0s;
			fill: #fff;
		}
		._active & path {
			fill: var(--orange);
		}
	}
}
